@import "../../../../constants/baseColors";

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: $primaryBtn;
  color: $onPrimary;
  border-radius: 50px;
  text-align: center;
}

.my-float {
  margin-top: 22px;
}
