.user-profile {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .user-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin: 20px auto;
    }
  }
}
