@import '../../../constants/baseColors';

.note-card {
  //border: 1px solid red;
  margin: 20px 20px;
  background-color: $surface;
  padding: 20px 30px;
  width: 80%;
  max-width: 800px;
  border-radius: 15px;

  .note-title {
    margin-bottom: 20px;
  }
  .note-description {
    font-size: 0.8em;
    margin-bottom: 25px;
  }
  .footer {
    display: flex;
    justify-content: center;
    button {
      width: 70%;
      max-width: 500px;
      border-radius: 15px;
    }
  }
}

@media only screen and (min-width: 700px) {
  .note-card {
    margin: 20px 30px;
  }
}
