@import '../../../constants/baseColors';

button {
  padding: 8px 30px;
  margin: 0px;
  //background-color: #006199;
  background-color: $primaryBtn;
  font-size: 0.8em;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
  border: none;

  &.disableBtn {
    background-color: $primaryBtnDisable;
    cursor: not-allowed;
  }

  &:hover {
    background-color: $primaryBtnHover;
  }
}
