@import "../../../../constants/baseColors";

div.navbar {
  background-color: $surface;
  grid-column: 1 / 4;

  ul {
    display: flex;
    list-style: none;
    color: $onPrimary;

    li {
      padding: 10px 20px;
      cursor: pointer;

      a {
        color: $onPrimary;
        text-decoration: none;
      }

      &:hover {
        background-color: $onClickPrimary;
      }
    }
  }
}

//less size for window browser
@media only screen and (min-width: 500px) {
  div.navbar {
    margin: 15px 20px;
    ul {
      margin-left: 20px;

      li {
        padding: 15px 30px;
      }
    }
  }
}

@media only screen and (min-width: 970px) {
  div.navbar {
    display: flex;
    justify-content: center;
    justify-content: flex-start;

    ul {
      margin-left: 20px;

      li {
        padding: 15px 30px;
      }
    }
  }
}

@media only screen and (min-width: 1300px) {
  div.navbar {
    grid-column: 1 / 4;
  }
}
