$background: #121212;
$surface: #2c2c2c;
$primaryBtn: #006199;
$primaryBtnDisable: #486680;
$primary: #486680;
$secondary: #806947;
$error: #9e2939;
$success: #3d6d3d;

$onClickPrimary: #3d566b;

$onBackground: #ffffff;
$onSurface: #ffffff;
$onPrimary: #ffffff;
$onSecondary: #000000;
