%break-line {
  background-color: grey;
  height: 1px;
  width: 80%;
  max-width: 900px;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

%underline-link {
  border: 1px solid rgba(255, 255, 255, 0);
  padding-bottom: 2px;
  cursor: pointer;
  transition: border 0.5s ease;

  &:hover {
    border-bottom: 1px solid white;
  }
}
