@import './constants/baseColors';

* {
  margin: 0;
  padding: 0;
}

//TO GET FULL HEIGHT IN LANDING PAGE
html,
body,
#root,
#app {
  height: 100vh;
}

#loading-page {
  display: none;
}

body {
  font-family: 'Montserrat', 'Work Sans', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //background-color: #282c34;
  background-color: $background;
  font-size: 20px;
  color: white;
}

a {
  color: white;
}

@media only screen and (min-width: 450px) {
  body {
    font-size: 21px;
  }
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  font-size: 1em;
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
  transition: background-color 5000s ease-in-out 0s;
}
