@import '../../general-styles/avatar';
@import '../../../constants/baseColors';

div.pub-card {
  display: flex;
  align-items: center;
  background-color: $surface;
  padding: 15px;
  margin-bottom: 15px;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;

  div.avatar {
    background-image: url('../../../../assests/Uchiha_Sasuke.jpg');
    background-repeat: no-repeat; /* by default images repeat */
    background-position: center;
    background-size: cover;
  }

  .pub-card-body {
    padding-left: 20px;
    padding-right: 15px;
    .username {
      font-size: 0.9em;
      margin-bottom: 10px;
    }
    .content {
      font-size: 0.7em;
    }
  }
}
